/* Design System for my Brand */
/* Path: homepage\assets\css\design.css */

:root{
/* Typography */

--typography-font-family: 'Roboto', sans-serif;
--typography-font-family-alt: 'Roboto', sans-serif;

--typography-heading: 2.5rem;
--typography-body: 1.5rem;

/* Colors */

/* Spacing */

--spacing-small: 1rem;
--spacing-medium: 2rem;
--spacing-large: 3rem;

/* Radii */
}